body {
  margin: 100px;
  background: linear-gradient(#84CEEB, #C1C8E4);
  color: white;
  font-family: arial;
}

#box {
  margin: 0 auto;
  border: 6px solid white;
  border-radius: 50px;
  width: 400px;
  height: 400px;
  padding: 20px;
  text-align: center;
  background: #5AB9EA;
}

.spread {
  margin-top: 40px;
}

#exeBtn {
  background-color: rgb(88, 214, 141);
  font-size: 20px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

#exeBtn:active {
  background-color: rgb(88, 154, 141); 
}